/*Header*/
header {
    display: flex;
    flex-flow: column nowrap;
    min-width: 100vw;
    font-weight: 600;
    font-size: 16px;
}

.color_header {
    background-color: #52B6F9;
    /*Aquí se usa una variable*/
    margin: 0;
    padding: 0;
}

.titulo {
    font-size: 82px;
    text-align: center;
}

body {
    background-image: radial-gradient(cornflowerblue 15%, white 85%);
    background-size: cover;
    text-align: center;
    /*background: url(../img/indexim.jpg) repeat-y;
    background-size: cover;*/
    overflow-x: hidden;
}

h1 {
    padding: 80px;
    font-weight: 700;
    color: purple;
}

.logo_header {
    max-width: 100px;
}

h2 {
    font-size: 75px;
    text-align: center;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    font-weight: 700;
    color: purple;
}

h3 {
    font-size: 50px;
    text-align: center;
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 50px;
}

p {
    padding: 80px;
    text-align: justify;
    font-size: 16px;
    color: purple;
    font-weight: 600;
}

.img1_index {
    text-align: justify;
    align-items: center;
    padding-top: 40px;
}

.body2 {
    background: url(../img/fondo1.jpg) repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

.body3 {
    background: url(../img/fondo2.jpg) repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

.body4 {
    background: url(../img/fondo3.jpg) repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

.body5 {
    background: url(../img/fondo2.jpg) repeat-y;
    background-size: cover;
    color: hotpink;
    overflow-x: hidden;
}

.modal-body, .modal-dialog, .modal-header, .modal-footer{
    background-color: pink;
}

.ImagenCiencias {
    max-width: 300px;
}

.tituloCiencias {
    color: violet;
    padding-left: 20px;
    text-align: center;
}

.textoCiencias {
    color: lightgreen;
    padding-left: 20px;
    text-align: center;
    font-size: 25px;
}

.colCiencias2 {
    padding: 25px;
}

.p3 {
    font-size: 12px;
}

.imagen_footer1 {
    max-width: 100px;
    padding-right: 15px;
}

.imagen_footer2 {
    max-width: 100px;
    padding-left: 15px;
}

@media (max-width: 576px) {

    /*HEADER*/
    .logo_header {
        max-width: 200px;
        padding: 20px;
    }

    /*INDEX*/

    .titulo {
        padding: 30px;
        font-weight: 700;
        color: purple;
        font-size: 50px;
    }

    h2 {
        font-size: 55px;
        text-align: center;
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
        font-weight: 700;
    }

    p {
        padding: 40px;
        text-align: center;
        font-size: 22px;
        color: purple;
        font-weight: 500;
    }

    .img1_index {
        max-width: 220px;
    }

    .paquete {
        max-width: 250px;
    }

    /*CUMPLEAÑOS*/
    .ImagenCiencias {
        max-width: 160px;
        padding-top: 15px;
    }

    .tituloCumple {
        padding: 20px;
        text-align: center;
        font-size: 32px;
    }

    .textoCumple {
        padding: 20px;
        text-align: center;
        font-size: 20px;
        color: lightgreen;
    }

    /*CIENCIAS*/

    .ImagenCumple {
        max-width: 200px;
    }

    .tituloCiencias {
        color: violet;
        padding: 20px;
        text-align: center;
        font-size: 32px;
    }
    .tituloCumple {
        color: whitesmoke;
        padding: 20px;
        text-align: center;
        font-size: 32px;
    }

    .textoProfesora {
        color: gold;
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    .textoCiencias {
        color: lightgreen;
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    .colCiencias2 {
        padding: 25px;
    }

    /*HEADER*/
    .p3 {
        font-size: 12px;
    }

    .imagen_footer1 {
        max-width: 80px;
        padding-right: 15px;
    }

    .imagen_footer2 {
        max-width: 80px;
        padding-left: 15px;
    }
}